[buildout]
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
parts =
    test
    omelette
develop =
    .
versions = versions
extensions = 
    buildout.dumppickedversions
    mr.developer

sources = sources
auto-checkout = 
    grokcore.traverser
    grokcore.rest

[sources]
grokcore.traverser = svn http://svn.zope.org/repos/main/grokcore.traverser/trunk
grokcore.rest = svn http://svn.zope.org/repos/main/grokcore.rest/trunk

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
grokcore.xmlrpc =

[test]
recipe = zc.recipe.testrunner
eggs =
    grokcore.xmlrpc
    grokcore.xmlrpc[test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '--package','grokcore.xmlrpc']
