[buildout]
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
develop = .
parts =
  test
extensions =
  buildout.dumppickedversions
  mr.developer

[versions]
grokcore.xmlrpc =

[test]
recipe = zc.recipe.testrunner
eggs =
    grokcore.xmlrpc
    grokcore.xmlrpc[test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '--auto-color']
